version: 2
jobs:
  test:
    docker:
      - image: circleci/node:8
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package-lock.json" }}
      - run: npm install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package-lock.json" }}
      - run: npm test
      - run: npm run coverage

workflows:
  version: 2
  push:
    jobs:
      - test
  scheduled:
    jobs:
      - test
    triggers:
      - schedule:
          cron: "8 8 * * 1-5"
          filters:
            branches:
              only:
                - master
